# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Packaging / build
*.egg-info/
dist/
build/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / mypy caches
.mypy_cache/
.ruff_cache/